<html>
  <head>
    <title>rhshizuru's blog</title>
  </head>
  <body>
    <!--<h1>A heading</h1> - 가장 중요한 머리말에 사용하는 태그
    <h2>A sub-heading</h2> 그 다음 수준의 머리말에 사용하는 태그
    <h3>A sub-sub-heading</h3> ... 그 다음 머리말.. <h6> 까지 계속 수준이 낮아집니다.
    <em>text</em> 텍스트를 강조할 때 사용하는 태그
    <strong>text</strong> 여러분의 텍스트를 강력하게 강조할 때 사용하는 태그
    <br /> 개행. 행을 내누기(br 태그 안에는 속성으로 아무 것도 넣을 수 없습니다.)
    <a href="https://djangogirls.org">link</a> 링크 걸기
    <ul><li>first item</li><li>second item</li></ul> 목록을 만듭니다. 지금 여러분이 보고 있는 목록처럼요!
    <div></div> 페이지의 섹션을 정의합니다.-->
    <!--<p>Hi there!</p>
    <p>It works!</p>-->
    <div>
      <h1><a href="">rhshizuru's Blog</a></h1>
    </div>

    <div>
      <p>published: 26.03.2017, 03:07</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
      <p>published: 26.03.2017, 03:08</p>
      <h2><a href="">My second post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
  </body>
</html>
